/venv

/edu-track/node_modules
/edu-track/.pnp
/edu-track/.pnp.js
/edu-track/coverage
/edu-track/build
/edu-track/.DS_Store
/edu-track/.env.local
/edu-track/.env.development.local
/edu-track/.env.test.local
/edu-track/.env.production.local
/edu-track/npm-debug.log*
/edu-track/yarn-debug.log*
/edu-track/yarn-error.log*

# Python cache files
/edu_track/*/__pycache__
/edu_track/*/*/__pycache__
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class