/venv

/edu-track/node_modules
/edu-track/.pnp
/edu-track.pnp.js
/edu-track/coverage
/edu-track/build
/edu-track/.DS_Store
/edu-track/.env.local
/edu-track/.env.development.local
/edu-track/.env.test.local
/edu-track/.env.production.local
/edu-track/npm-debug.log*
/edu-track/yarn-debug.log*
/edu-track/yarn-error.log*

/edu_tack/*/__pycache__